body{
    line-height: 1.2;
    
    h2{
        font-size: clamp(1.3rem , 1.6vw, 1.5rem);
        font-weight: 700;
    }
    h3{
        font-size: clamp(1rem , 1.3vw, 1.3rem);
        font-weight: 600;
    }
    font-family: "Manrope", sans-serif;
    background-color: #181818;
    color: #f1f1f1;
    header{
        background-color: #111;
        padding: 1rem 8%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
                height: clamp(1.6rem , 1.8vw, 1.9rem);
            }
        }
        h1{
            
            font-size: clamp(1.6rem , 1.8vw, 1.9rem);
            font-weight: 800;
        }
        nav{
            a{
                margin: 0px 2px;
                color: #f1f1f1;
            }
        }
    }
    
    .mainIndex{
        .banner{
            background-image: url('https://visitmexico.com/static/media/videos360.3fb857be2b4fae03c3a3.png');   
            h2{
                padding-top: 9vw;
                padding-left: 8%;
                font-size: clamp(1.8rem , 2.3vw, 2.4rem);
            }
            p{
                padding-left: 8%;
                padding-bottom: 9vw;
                font-size: clamp(1.2rem , 1.3vw, 1.4rem);
                
            }
        }
        .temes{
            margin: 2rem 8%;
            .temes__header{
                h2{
                    font-size: clamp(1.6rem , 1.6vw, 1.9rem);
                    font-weight: 800;
                }
            }
            a{
                color: #f1f1f1;
            }
            .temes__Container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                @include breakpoint2{
                    grid-template-columns: 1fr;
                } /* Ajusta el número de columnas según tus necesidades */
                gap: 1rem; /* Agrega espacio entre artículos */
                article{
                    background-color: #111;
                    display: flex;
                    flex-direction: column; /* Cambia a columna para mejor disposición */
                    align-items: center;
                    border: solid;
                    aspect-ratio: 3/6;
                    justify-content: center;
                    position: relative; /* Necesario para posicionar la imagen */
                    overflow: hidden; /* Oculta el contenido que se sale */
                    transition: transform 0.2s ease; /* Agrega transición para el efecto */
                    @include breakpoint2{
                        aspect-ratio: 2/1;
                    }
                    h3 {
                        color: #f4ddee;
                        background-color: #11111181;
                        writing-mode: vertical-lr;
                        font-size: clamp(2rem , 2.7vw, 2.8rem);
                        font-weight: 800;
                        
                        text-align: center; /* Centra el texto vertical */
                        position: absolute; /* Posiciona el h3 */
                        top: 50%; /* Ajusta la posición vertical */
                        left: 50%; /* Ajusta la posición horizontal */
                        transform: translate(-50%, -50%); /* Centra el h3 */
                        z-index: 1; /* Asegúrate de que el h3 esté por encima de la imagen */
                        @include breakpoint2{
                            writing-mode: horizontal-tb;
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%; /* Ajusta la altura de la imagen */
                        object-fit: cover;
                        position: absolute; /* Posiciona la imagen */
                        top: 0;
                        left: 0;
                        opacity: 0; /* Oculta la imagen por defecto */
                        transition: opacity 0.3s ease; /* Agrega transición para la opacidad */
                    }
                    &:hover {
                        transform: scale(1.2); /* Amplía el artículo al hacer hover */
                        article {
                            transform: scale(0.8); /* Reduce el tamaño de los demás */
                            opacity: 0.5; /* Reduce la opacidad de los demás */
                        }
                    }
                    &:hover img {
                        opacity: 1; /* Muestra la imagen al hacer hover */
                    }
                }
            }      
        }
        
    }
    .mainHistory{
        padding: 1rem 8%;
        .timeLine{
            
            ul{
                list-style-type: circle;
                li{
                    margin: 1rem;
                    padding: 1rem;
                    background-color: #111;
                    border-radius: 5px;
                    border: solid;
                    a{
                        color: #f1f1f1;
                    }
                }
            }
        }        
    }
    .mainGeography{
        
        margin: 1rem 8%;
        .mapSection{
            display: grid;
            grid-template-columns: 68% 32%;
            align-items: center;
            justify-items: center;
            @include breakpoint1{
                grid-template-columns: 1fr;
            }
            .mapSection__info{
                margin: 1rem;
                padding: 1rem;
                background-color: #111;
                border-radius: 5px;
                border: solid;
                display: none;
                &.show{
                    display: block;
                }
            }
            svg{
                width: 100%;
                height: auto;
                path:hover{
                    fill: #393939;
                }
            }
            
            
        }
        .listContainer{
            .listItems{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

            
    }
    .mainCulture{
        padding: 1rem 8%;
        img{
            width: 60%;
        }
    }
    .mainArt{
        padding: 1rem 8%;   
    }
    footer{
        background-color: #111;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        padding-top: 1rem;
        nav{
            display: flex;
            align-items: center;
            .navFooter__logo{
                width: 4rem;
                img{
                    width: 3rem;
                }
            }
            .navFooter__link{
                margin: 0px 10px;
                font-size: clamp(1.1rem , 1.3vw, 1.3rem);
                font-weight: 700;
                color: $whiteColor;
                text-decoration: none;
                
            }
            .navFooter__link:hover{
                text-decoration: underline;
            }
        }
    }
    
    
}
