.slider {
  position: relative;
  width: 65%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  padding: 1rem;
  background-color: #b2b2b2;
  border-radius: 1rem;
}
.slider__slide {
  display: none;
  text-align: center;
}
.slider__slide.hidden {
  display: none;
}
.slider__slide img {
  width: 100%;
  aspect-ratio: 5/3;
}
.slider__slide p {
  margin: 10px 0;
}
.slider .slider__controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 1rem;
}
.slider .slider__controls button {
  background-color: #d4d4d4;
  border: none;
  color: #1e1d1d;
  padding: 10px;
  cursor: pointer;
  font-size: clamp(1rem, 1vw, 1.1rem);
  transition: background-color 0.3s, color 0.3s;
  border-radius: 40%;
  width: 40px;
  height: 40px;
}
.slider .slider__controls button:hover {
  background-color: #b2b2b2;
  color: #1e1d1d;
}

body {
  line-height: 1.2;
  font-family: "Manrope", sans-serif;
  background-color: #d4d4d4;
  color: #1e1d1d;
}
body h2 {
  font-size: clamp(1.3rem, 1.6vw, 1.5rem);
  font-weight: 700;
}
body h3 {
  font-size: clamp(1rem, 1.3vw, 1.3rem);
  font-weight: 600;
}
body a {
  color: #1e1d1d;
}
body header {
  padding: 1rem 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b2b2b2;
}
body header section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body header section img {
  height: clamp(1.6rem, 1.8vw, 1.9rem);
}
body header h1 {
  font-size: clamp(1.6rem, 1.8vw, 1.9rem);
  font-weight: 800;
}
body header nav {
  display: block;
}
@media screen and (max-width: 36rem) {
  body header nav {
    display: none;
  }
}
body header nav a {
  margin: 0px 2px;
  color: #1e1d1d;
}
body header .iconMenu {
  display: none;
  height: clamp(1.7rem, 1.8vw, 1.9rem);
}
@media screen and (max-width: 36rem) {
  body header .iconMenu {
    display: block;
  }
}
body header .iconMenu img {
  height: clamp(1.7rem, 1.8vw, 1.9rem);
}
body header .menu {
  z-index: 999;
  display: none;
  width: 100%;
  position: absolute;
  right: 0%;
  top: 58px;
  background-color: #b2b2b2;
  box-shadow: 19px 1px 22px -15px rgba(0, 0, 0, 0.2901960784);
  transition: all ease;
  height: auto;
}
body header .menu.show {
  display: block;
}
body header .menu .menuHeader {
  padding: 0px 8px;
  display: flex;
  align-items: center;
}
body header .menu .menuHeader h2 {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding: 25px 0px;
}
body header .menu .menuHeader i {
  cursor: pointer;
  color: #1e1d1d;
  background-color: #b2b2b2;
  padding: 4px;
  border-radius: 50%;
}
body header .menu .menu__nav {
  display: block;
}
body header .menu .menu__nav a {
  color: #1e1d1d;
  font-size: 1.1rem;
  text-decoration: none;
  display: block;
  margin-bottom: 24px;
}
body header .menu .menu__nav .mainLink {
  font-weight: 600;
}
body header .container {
  display: flex;
  align-items: center;
}
body header .switch {
  position: relative;
  display: inline-block;
  width: 86px;
  height: 26px;
}
body header .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
body header .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
body header .switch .slider.round {
  border-radius: 50px;
}
body header .switch .slider .icon {
  height: 100%;
}
body header .switch .slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 26px;
  left: 3px;
  bottom: 0px;
  background-color: #727678;
  transition: 0.4s;
  border-radius: 50%;
}
body header .switch input:checked + .slider {
  background-color: #1d1d1d;
}
body header .switch input:focus + .slider {
  box-shadow: 0 0 1px #1d1d1d;
}
body header .switch input:checked + .slider:before {
  transform: translateX(32px);
}
body .mainIndex .banner {
  background-image: url("https://visitmexico.com/static/media/videos360.3fb857be2b4fae03c3a3.png");
  color: #f1f1f1;
}
body .mainIndex .banner .banner__title {
  padding-top: 9vw;
  padding-left: 8%;
  font-size: clamp(1.8rem, 2.3vw, 2.4rem);
}
body .mainIndex .banner .banner__text {
  padding-left: 8%;
  padding-bottom: 9vw;
  font-size: clamp(1.2rem, 1.3vw, 1.4rem);
}
body .mainIndex .temes {
  margin: 2rem 8%;
}
body .mainIndex .temes .temes__header h2 {
  font-size: clamp(1.6rem, 1.6vw, 1.9rem);
  font-weight: 800;
}
body .mainIndex .temes a {
  color: #f1f1f1;
}
body .mainIndex .temes .temes__Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 36rem) {
  body .mainIndex .temes .temes__Container {
    grid-template-columns: 1fr;
  }
}
body .mainIndex .temes .temes__Container article {
  background-color: #b2b2b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  aspect-ratio: 3/6;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease;
}
@media screen and (max-width: 36rem) {
  body .mainIndex .temes .temes__Container article {
    aspect-ratio: 2/1;
  }
}
body .mainIndex .temes .temes__Container article h3 {
  color: #f1f1f1;
  background-color: rgba(17, 17, 17, 0.6941176471);
  writing-mode: vertical-lr;
  font-size: clamp(2rem, 2.7vw, 2.8rem);
  font-weight: 800;
  padding: 0.6rem;
  border-radius: 1rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media screen and (max-width: 36rem) {
  body .mainIndex .temes .temes__Container article h3 {
    writing-mode: horizontal-tb;
  }
}
body .mainIndex .temes .temes__Container article img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
body .mainIndex .temes .temes__Container article:hover {
  transform: scale(1.2);
}
body .mainIndex .temes .temes__Container article:hover article {
  transform: scale(0.8);
  opacity: 0.5;
}
body .mainIndex .temes .temes__Container article:hover img {
  opacity: 1;
}
body .mainHistory {
  padding: 1rem 8%;
}
body .mainHistory .timeLine ul {
  list-style-type: circle;
}
body .mainHistory .timeLine ul li {
  background-color: #b2b2b2;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: solid;
}
body .mainGeography {
  margin: 1rem 8%;
}
body .mainGeography .mapSection {
  display: grid;
  grid-template-columns: 68% 32%;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 62rem) {
  body .mainGeography .mapSection {
    grid-template-columns: 1fr;
  }
}
body .mainGeography .mapSection .mapSection__info {
  margin: 1rem;
  padding: 1rem;
  background-color: #b2b2b2;
  border-radius: 5px;
  border: solid;
  display: none;
}
body .mainGeography .mapSection .mapSection__info.show {
  display: block;
}
body .mainGeography .mapSection svg {
  width: 100%;
  height: auto;
}
body .mainGeography .mapSection svg path:hover {
  fill: #393939;
}
body .mainGeography .listContainer .listItems {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .mainCulture {
  padding: 1rem 8%;
}
body .mainCulture img {
  width: 60%;
}
body .mainArt {
  padding: 1rem 8%;
}
body footer {
  background-color: #b2b2b2;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 1rem;
}
body footer nav {
  display: flex;
  align-items: center;
}
body footer nav .navFooter__logo {
  width: 4rem;
}
body footer nav .navFooter__logo img {
  width: 3rem;
  margin: 0px 10px;
}
body footer nav .navFooter__link {
  margin: 0px 10px;
  font-size: clamp(1.1rem, 1.3vw, 1.3rem);
  font-weight: 700;
  color: #1e1d1d;
  text-decoration: none;
}
body footer nav .navFooter__link:hover {
  text-decoration: underline;
}

.darkMode {
  color: #d8d8d8;
  background-color: #1d1d1d;
}
.darkMode a {
  color: #d8d8d8;
}
.darkMode header, .darkMode footer {
  background-color: #121212;
}
.darkMode header .menu, .darkMode footer .menu {
  color: #d8d8d8;
  background-color: #121212;
}
.darkMode header .menu nav a, .darkMode footer .menu nav a {
  color: #d8d8d8;
}
.darkMode header .navFooter__link, .darkMode footer .navFooter__link {
  color: #d8d8d8;
}
.darkMode .mainIndex .temes .temes__Container article {
  background-color: #121212;
}
.darkMode .mainHistory .timeLine ul li {
  background-color: #121212;
}
.darkMode .slider {
  background-color: #121212;
}
.darkMode .slider .slider__controls button {
  background-color: #1d1d1d;
  color: #d8d8d8;
}
.darkMode .slider .slider__controls button:hover {
  background-color: #121212;
  color: #d8d8d8;
}
.darkMode .mainGeography .mapSection .mapSection__info {
  background-color: #121212;
}/*# sourceMappingURL=main.css.map */